.Navbar {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	align-items: center;
	overflow: hidden;
	height: 70px;
	width: 100%;
	padding: 1rem 4rem;
	background: transparent;
	transition: all 0.5s ease-in;
}

.Navbar__dark {
	background-color: rgba(20, 20, 20, 0.85);
}

.Navbar img {
	height: 40px;
}

.Navbar__logo {
	align-items: center;
}

.Navbar__user img {
	border-radius: 5px;
}

@media (max-width: 500px) {
	.Navbar {
		padding: 0rem 2rem;
		height: 60px;
	}
	.Navbar img {
		height: 30px;
	}
}

@media (max-height: 500px) {
	.Navbar {
		position: relative;
	}

	.Navbar__dark {
		background-color: rgba(20, 20, 20, 0.1);
	}
}
