/* Fonts */
@font-face {
	font-family: 'Netflix Sans Bold';
	src: local('Netflix Sans Bold'),
		url(./assets/Netflix\ Sans\ Bold.otf) format('opentype');
}
@font-face {
	font-family: 'Netflix Sans Medium';
	src: local('Netflix Sans Medium'),
		url(./assets/Netflix\ Sans\ Medium.otf) format('opentype');
}
@font-face {
	font-family: 'Netflix Sans Light';
	src: local('Netflix Sans Light'),
		url(./assets/Netflix\ Sans\ Light.otf) format('opentype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Netflix Sans Medium';
	color: #fff;
}